@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Lato", sans-serif;
    font-family: "Nunito", sans-serif;
    font-family: "Roboto Slab", serif;
    font-family: "Sarabun", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    font-family: "Urbanist", sans-serif;
    background-color: rgba(237, 236, 233, 1);
    color: black;
  }
}
